CardiacEngineering-App/build
CardiacEngineering-App/.dart_tool
CardiacEngineering-App/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
CardiacEngineering-App/ios/Runner.xcodeproj/project.pbxproj
CardiacEngineering-App/ios/Flutter/Generated.xcconfig
CardiacEngineering-App/ios/Flutter/flutter_export_environment.sh
CardiacEngineering-App/android/local.properties
*.sh
CardiacEngineering-App/ios/Flutter/flutter_export_environment.sh
CardiacEngineering-App/ios/Flutter/Generated.xcconfig
CardiacEngineering-App/ios/Flutter/flutter_export_environment.sh
